
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="col-md-4">
        @using (Html.BeginForm("Upload", "Upload", FormMethod.Post,
                                     new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>

                Select a file <input type="file" name="file" />
                <input type="submit" value="Upload" />

            </fieldset>
        }
    </div>
</body>
</html>
